<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PowerUp_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,48},{21,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,22}}</string>
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>

			<key>PowerUp_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,71},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,23}}</string>
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>

			<key>PowerUp_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,23}}</string>
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>

			<key>PowerUp_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,24},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>

			<key>PowerUp_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,0},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>

			<key>PowerUp_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,69},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>

			<key>PowerUp_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,46},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>

			<key>PowerUp_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,0},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>

			<key>PowerUp_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,21}}</string>
				<key>sourceSize</key>
				<string>{23,21}</string>
			</dict>

			<key>PowerUp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,22},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,21}}</string>
				<key>sourceSize</key>
				<string>{23,21}</string>
			</dict>

			<key>PowerUp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,21}}</string>
				<key>sourceSize</key>
				<string>{23,21}</string>
			</dict>

			<key>PowerUp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,88},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUp_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,66},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUp_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,66},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUp_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,23},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{92,110}</string>
			<key>textureFileName</key>
			<string>PowerUp.png</string>
			</dict>
		</dict>
</plist>