<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PowerUpFuego_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,63},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>PowerUpFuego_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,42},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>PowerUpFuego_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,84},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>

			<key>PowerUpFuego_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>

			<key>PowerUpFuego_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,22},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>

			<key>PowerUpFuego_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,65},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>

			<key>PowerUpFuego_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,85},{21,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,19}}</string>
				<key>sourceSize</key>
				<string>{21,19}</string>
			</dict>

			<key>PowerUpFuego_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,44},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>PowerUpFuego_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>PowerUpFuego_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,40},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>PowerUpFuego_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,62},{21,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,22}}</string>
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>

			<key>PowerUpFuego_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUpFuego_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,22},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>PowerUpFuego_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{22,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,20}}</string>
				<key>sourceSize</key>
				<string>{22,20}</string>
			</dict>

			<key>PowerUpFuego_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,19}}</string>
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>

			<key>PowerUpFuego_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,19}}</string>
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>

			<key>PowerUpFuego_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,20},{21,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,19}}</string>
				<key>sourceSize</key>
				<string>{21,19}</string>
			</dict>

			<key>PowerUpFuego_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{23,0},{21,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,19}}</string>
				<key>sourceSize</key>
				<string>{21,19}</string>
			</dict>

			<key>PowerUpFuego_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,85},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>sourceSize</key>
				<string>{20,19}</string>
			</dict>

			<key>PowerUpFuego_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,22},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,21}}</string>
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>

			<key>PowerUpFuego_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,84},{19,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,21}}</string>
				<key>sourceSize</key>
				<string>{19,21}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{106,106}</string>
			<key>textureFileName</key>
			<string>PowerUpFuego.png</string>
			</dict>
		</dict>
</plist>