<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tortuga_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,41},{11,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,20}}</string>
				<key>sourceSize</key>
				<string>{11,20}</string>
			</dict>

			<key>tortuga_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,41},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,20}}</string>
				<key>sourceSize</key>
				<string>{12,20}</string>
			</dict>

			<key>tortuga_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,0},{12,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,19}}</string>
				<key>sourceSize</key>
				<string>{12,19}</string>
			</dict>

			<key>tortuga_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,62},{12,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,18}}</string>
				<key>sourceSize</key>
				<string>{12,18}</string>
			</dict>

			<key>tortuga_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,60},{13,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,19}}</string>
				<key>sourceSize</key>
				<string>{13,19}</string>
			</dict>

			<key>tortuga_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,39},{14,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,20}}</string>
				<key>sourceSize</key>
				<string>{14,20}</string>
			</dict>

			<key>tortuga_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{15,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,20}}</string>
				<key>sourceSize</key>
				<string>{15,20}</string>
			</dict>

			<key>tortuga_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{15,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,19}}</string>
				<key>sourceSize</key>
				<string>{15,19}</string>
			</dict>

			<key>tortuga_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{15,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,19}}</string>
				<key>sourceSize</key>
				<string>{15,19}</string>
			</dict>

			<key>tortuga_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{15,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,19}}</string>
				<key>sourceSize</key>
				<string>{15,19}</string>
			</dict>

			<key>tortuga_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,0},{14,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,19}}</string>
				<key>sourceSize</key>
				<string>{14,19}</string>
			</dict>

			<key>tortuga_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,20},{14,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,18}}</string>
				<key>sourceSize</key>
				<string>{14,18}</string>
			</dict>

			<key>tortuga_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,21},{12,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,19}}</string>
				<key>sourceSize</key>
				<string>{12,19}</string>
			</dict>

			<key>tortuga_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,0},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,20}}</string>
				<key>sourceSize</key>
				<string>{13,20}</string>
			</dict>

			<key>tortuga_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{16,60},{13,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,20}}</string>
				<key>sourceSize</key>
				<string>{13,20}</string>
			</dict>

			<key>tortuga_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,21},{12,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,19}}</string>
				<key>sourceSize</key>
				<string>{12,19}</string>
			</dict>

			<key>tortuga_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,20},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,20}}</string>
				<key>sourceSize</key>
				<string>{12,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{70,81}</string>
			<key>textureFileName</key>
			<string>tortuga.png</string>
			</dict>
		</dict>
</plist>